html,
body,
#mapDiv {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 65%;
}

.ui-overlay {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.icon {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.fa:hover {
  cursor: pointer;
}

.ui-form {
  margin: 0;
  padding-left: 1rem;
  opacity: 0.1;
  transition: all 0.3s ease-in-out;
}

.ui-search {
  font: 1.75rem "Arial";
  border: 0;
  border-bottom: 1px solid #333;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.ui-search:focus {
  outline: 0;
}

.search-button {
  background-color: #fff;
  border: 0;
  transition: all 0.4s ease-in-out;
}

.search-button:focus {
  outline: 0;
}

.places {
  position: fixed;
  z-index: 1;
  top: 4.5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.ui-filter-form {
  display: block;
  margin: 2em auto 1em;
  padding-left: 1rem;
  opacity: 0.1;
  transition: all 0.3s ease-in-out;
}

.ui-filter {
  font: 1.75rem "Arial";
  border: 0;
  border-bottom: 1px solid #333;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.filter-button {
  transition: all 0.3s ease-in-out;
}

.ui-filter:focus {
  outline: 0;
  opacity: 0.8;
}

.ui-focus-opac {
  opacity: 0.8;
}

.place-list-item {
  list-style: none;
  padding: 1rem;
}

.place-name {
  font: 1rem "Arial";
}

@media screen and (min-width: 600px) {
  .icon {
    font-size: 2rem;
    padding: 1.75rem;
  }

  .ui-overlay {
    width: 500px;
  }

  .ui-form {
    padding-left: 1rem;
  }

  .ui-search {
    font-size: 2rem;
    width: 300px;
    transition: width 0.3s ease-in-out;
  }

  .places {
    width: 500px;
  }
}