/*
 * Default styles
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#mapFallback,
#mapDiv {
  margin: 0;
  width: 100%;
  height: 100%;
}

.map-fallback {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../img/background/day.jpg);
  background-size: cover;
}

.dark .map-fallback {
  background-image: url(../img/background/night.jpg);
}

.background-title {
  text-align: center;
  margin-top: 8rem;
  font: 700 3.5rem "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

html {
  font-size: 65%;
}

.main-loading-spinner {
  font-size: 4rem;
  position: absolute;
  z-index: 10;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
}

.dark .main-loading-spinner {
  color: white;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  -webkit-animation: spinning linear 1s infinite;
          animation: spinning linear 1s infinite;
}

/*
 * Mobile styles
 */

/* dark mode */
.dark .map-marker {
  color: #fff;
  opacity: 0.75;
}

/* fade during alert */
.fade {
  opacity: 0.25;
}

/* major user-interface */
.ui-overlay {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dark .ui-overlay {
  background: rgb(50, 50, 50);
  color: #fff;
}

/* icon styles */
.icon {
  font-size: 1.25rem;
  padding: 0.75rem;
}

/* ui-form */
.ui-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 3.5rem);
  margin: 0 0 0 0.5rem;
  padding: 0.4rem 0;
  opacity: 0.8;
}


/* ui-search */
.ui-search {
  font: small-caps 600 1.6rem "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  border: 0;
  border-bottom: 1px solid #333;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.dark .ui-search {
  border-bottom-color: #ccc;
  background-color: rgb(50, 50, 50);
  color: white;
}

.ui-term {
  width: 70px;
}

.ui-location {
  width: 72px;
}

.search-near {
  font: small-caps 1.35rem "Roboto", sans-serif;
  padding: 0 0.35rem;
}

.ui-search:focus {
  outline: 0;
  opacity: 1;
}

.search-button {
  background-color: #fff;
  border: 0;
  transition: all 0.3s ease-in-out;
}

.dark .search-button {
  background-color: rgb(50, 50, 50);
}

.dark .icon {
  color: #fefefe;
}

.search-button:focus {
  outline: 0;
}

.range-icon {
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.rangeVisible {
  transform: translateY(0.5rem);
  -webkit-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
}

.search-range {
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 9;
  left: 0;
  top: 3.5rem;
  width: 100%;
  display: flex;
  align-content: center;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.dark .search-range {
  background-color: #333;
  color: #fff;
}

.range-label {
  font: 1.35rem "Roboto", sans-serif;
}

/* Places section */
.places {
  position: fixed;
  z-index: 2;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem);
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.dark .places {
  background-color: rgb(50, 50, 50);
  color: white;
}

.places-icon {
  padding: 1.25rem 0.75rem;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.expandIcon:before {
  content: "\f0d7";
}

.expandIcon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scaleY(1, -1);
}

.ui-filter-form {
  display: block;
  margin: 3rem auto 1rem;
  padding-left: 1rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

/* Filter the available venues */
.ui-filter {
  font: small-caps 2rem "Roboto";
  width: 200px;
  opacity: 0.6;
  border: 0;
  border-bottom: 1px solid #cecece;
  color: #333;
}

.dark .ui-filter {
  border-bottom-color: #eee;
  background-color: rgb(50, 50, 50);
  color: white;
}

.filter-button {
  transition: all 0.3s ease-in-out;
}

.ui-filter:focus {
  outline: 0;
  opacity: 0.8;
}

.show-options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.1);
}

.dark .show-options {
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.1);
}

.show-all,
.show-favorites {
  font: small-caps 1.6rem "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  cursor: pointer;
}

/* List of venues */

.places-list-section {
  height: calc(100% - 11.5rem);
  overflow-y: auto;
  margin: 0;
}

.dark places-list-section {
}

.places-list {
  padding-left: 0;
}

.place-list-item {
  list-style: none;
  padding: 0 0 0 2rem;
  border-bottom: 1px solid #efefef;
}

.dark .place-list-item {
  border-bottom-color: #222;
}

.place-list-item:hover,
.placeListItemExpanded {
  background-color: rgba(245,245,245,0.8);
}

.dark .place-list-item:hover,
.dark .placeListItemExpanded {
  background-color: rgba(50,50,50,0.8);
}

.place-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.place-name {
  font: 400 small-caps 1.6rem/2.75rem "Roboto", sans-serif;
  letter-spacing: 0.52px;
  letter-spacing: 0.52px;
  letter-spacing: 0.05rem;
}

.place-rating {
  display: inline-block;
  font: 600 1.5rem/2.75rem "Roboto", sans-serif;
  padding: 0.5rem;
  margin: 0;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.place-options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.place-icon {
  line-height: 2.75rem;
}

.favorited:before {
  color: gold;
}

.placeListItemExpanded .marker-icon:before {
  color: #c40000;
}

.place-info {
  margin-right: 1.5rem;
  padding: 0 2rem;
}

/* Venue info */

.middle-details,
.foursquare-info-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.middle-details {
  position: relative;
}

.middle-details:before {
  position: absolute;
  width: 100%;
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  border-top: 1px solid #dedede;
}

.dark .middle-details:before {
  border-top: 1px solid #636363;
}

.placeListItemExpanded .middle-details:before {
  transform: scaleX(1);
}

.open-status {
  display: block;
  font: small-caps 400 2rem "Roboto", sans-serif;
  margin: -1rem 0 1rem;
  color: #d3cece;
}

.openStatusAvailable {
  animation: 5s flicker infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.95;
  }
  8% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.95;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0.85;
  }
  45% {
    opacity: 0.6;
  }
  55% {
    opacity: 0.77;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
  }
  64% {
    opacity: 0.76;
  }
  75% {
    opacity: 0.8;
  }
  90% {
    opacity: 1;
  }
  93% {
    opacity: 0.89;
  }
  100% {
    opacity: 0.95;
  }
}

.open {
  color: #66ff66;
}

.closed {
  color: #ff355e;
}

.place-type {
  display: block;
  font: small-caps 600 1.75rem "Roboto", sans-serif;
  margin: 3rem 0 1.45rem;
}

.contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 75px;
  max-width: 150px;
}

.contact-text {
  display: inline-block;
  font: 1.45rem "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  margin: 1rem 0 1.5rem;
}

.contact-icon {
  font-size: 1.45rem;
  padding-right: 0.75rem;
}

.contact-link {
  font: 1.45rem "Roboto", sans-serif;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.dark .contact-link {
  color: #fefefe;
}

.contact-link:hover,
.contact-link:active,
.contact-link:focus {
  color: #333;
  text-decoration: none;
}

.dark .contact-link:hover,
.dark .contact-link:active,
.dark .contact-link:focus {
  color: #fefefe;
  text-decoration: none;
}

.website-link {
  font-variant: small-caps;
  font-size: 1.35rem;
}

.website-icon {
  padding-left: 0.75rem;
  padding-right: 0;
}

.api-link {
  position: relative;
  left: 1rem;
  text-decoration: none;
  color: #333;
}

.api-link-text {
  position: relative;
  font: 1rem "Roboto", sans-serif;
}

.dark .api-link-text,
.dark .api-icon-text {
  color: #fefefe;
}

.foursquare-link-text {
  bottom: 1rem;
  left: 0.25rem;
}

.api-icon-text {
  position: absolute;
  top: 1rem;
  left: -2rem;
}

.foursquare-logo {
  -ms-flex-item-align: center;
      -webkit-align-self: center;
          align-self: center;
  width: 2.5rem;
}

.info-pic-wrapper {
  margin: 2rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-pic-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-pic-div {
  width: calc(90% - 2rem);
}

.info-pic {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
}

.info-pic-container .fa {
  padding: 1rem;
  -ms-flex-item-align: center;
      -webkit-align-self: center;
          align-self: center;
}

.info-pic-container .fa:before {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.info-pic-container .fa:hover:before {
  opacity: 1;
}

.yelp-review-wrapper {
  padding: 1rem 0 2rem;
}

.yelp-title {
  margin: 1rem 0;
  font: small-caps 1.35rem "Roboto", sans-serif;
}

.yelp-review {
  margin: 0.5rem 1.5rem 2rem;
  padding: 1rem 1.5rem 1rem;
  font: 300 1.35rem/1.5 "Roboto", sans-serif;
  color: #333;
  letter-spacing: 0.1rem;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
}

.dark .yelp-review {
  background-color: #222;
  border-color: #636363;
  color: #ccc;
}

.info-wrapper {
  padding: 0 0 1rem;
}

.info-wrapper:after,
.yelp-review-wrapper:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.yelp-api-link {
  float: right;
}

.yelp-link-text {
  bottom: 0.75rem;
}

.yelp-logo {
  -ms-flex-item-align: center;
    -webkit-align-self: center;
        align-self: center;
  width: 5rem;
}

.no-list {
  font: 400 2rem "Roboto", sans-serif;
  margin: 2rem 0 1rem;
  text-align: center;
  color: #666;
}

.dark .no-list {
  color: #aaa;
}

.places-list-section::-webkit-scrollbar {
  width: 1.25rem;
}

.places-list-section::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.places-list-section::-webkit-scrollbar-thumb {
  height: 2rem;
  background-color: #333;
}

.dark .places-list-section::-webkit-scrollbar-thumb {
  background-color: #fefefe;
}

/* Day/Night mode */

.settings-wrapper {
  position: absolute;
  right: 1rem;
  bottom: 2.5rem;
  padding: 1rem 0;
}

.settings-form {
  margin: 0;
}

.mode-button {
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.mode-button:focus,
.mode-button:active {
  outline: 0;
}

.mode-button:hover {
  opacity: 1;
}

.mode-option {
  font-size: 2rem;
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
}

.night-toggle {
  color: #333;
}

.day-toggle {
  color: #fff;
}

/* Login interface */

.login-wrapper {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  bottom: 2.5rem;
  width: 5rem;
  left: 1rem;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.loginWrapperExpand {
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  left: 0;
  width: 100%;
}

.login-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 0;
}

.login-icon {
  padding: 0.5rem 1.5rem;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.login-icon:hover {
  opacity: 1;
}

.login-icon:before {
  font-size: 2rem;
  color: #333;
}

.dark .login-icon:before {
  color: #fff;
}

.dark .login-form .login-icon:before {
  color: #666;
}

.login-input {
  margin: auto 0;
  margin-left: 1rem;
  outline: none;
  border: 0;
  border-bottom: 1px solid #666;
  font: small-caps 1.75rem "Roboto", sans-serif;
}

.login-button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

.fa-sign-in {
  padding-left: 0;
}

.login-buttons-tray {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-cancel-icon {
  position: relative;
  top: 0.125rem;
}

.login-cancel-icon:before {
  font-size: 1.25rem;
}

/* Infowindow styles */

.gm-style-iw {
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.gm-style-iw div:first-child {
  width: 100% !important;
}

.infowindow {
  width: 100%;
  position: relative;
}

.infowindow-title {
  font: 600 small-caps 1.5rem "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.infowindow-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.infowindow-pic {
  background-size: cover;
  background-repeat: no-repeat;
}

.infowindow-fa {
  -ms-flex-item-align: center;
      -webkit-align-self: center;
          align-self: center;
}

.infowindow-rating {
  font: 600 1.35rem "Roboto", sans-serif;
  padding-right: 1rem;
}

.infowindow-price {
  font: 600 1.35rem "Roboto", sans-serif;
}

/* custom infowindow styles */

.infoBox {
  border-radius: 2px;
  transform: transalteY(0);
  transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.infoBox.entering {
  opacity: 0;
  animation: 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275) normal forwards running enter;
}

.infoBox.leaving {
  opacity: 0;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(42px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

.infowindow-content {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}

.dark .infowindow-content {
  background: #333;
}

.infowindow-close-button {
  position: absolute;
  right: calc(-2rem - 1px);
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 1px;
  color: #333;
}

.infowindow-close-button {
  background: #fff;
}

.infowindow-close-icon {
  color: #333;
}

.dark .infowindow-close-button {
  background: #333;
}

.dark .infowindow-close-icon {
  color: #fff;
}

.dark .infowindow-content {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .custom-window: {
    max-width: 500px;
  }
}

/* alert modal */

.alert-modal {
  position: absolute;
  text-align: center;
  z-index: 8;
  width: 300px;
  min-height: 200px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  left: calc(50% - 150px);
  top: -300px;
  transition: top 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dark .alert-modal {
  background-color: rgb(50, 50, 50);
  color: #fefefe;
}

.alert-body {
  padding: 1.5rem;
  overflow-x: hidden;
}

.alert {
  top: calc(50% - 100px);
}

.alert-title {
  font: 400 small-caps 2rem "Roboto", sans-serif;
}

.alert-details {
  font: 400 1.5rem/1.25 "Roboto", sans-serif;
}

.alert-icon {
  padding: 1rem;
  display: inline-block;
}

.alert-icon:before {
  font-size: 1.5rem;
}

.alert-close {
  top: 0;
  position: absolute;
  right: 0;
}

.alert-next-box {
  cursor: pointer;
}

.alert-next-visible {
  display: inline-block !important;
}

.alert-next-text {
  font: 400 small-caps 1.75rem "Roboto", sans-serif;
  padding: 1rem 0 1rem 1rem;
}

.alert-next {
  padding-left: 0.5rem;
}

.alert-next:before {
  font-size: 1.25rem;
}


/*
 * PC styles
 */
@media screen and (min-width: 600px) {

  .background-title {
    margin-top: 12rem;
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }

  .map-marker-hover {
    opacity: 1;
  }

  /* all font-awesome icons use pointers */
  .fa:hover {
    cursor: pointer;
  }

  .icon {
    font-size: 1.75rem;
    padding: 0.75rem;
  }

  .ui-overlay {
    width: 500px;
  }

  .ui-form {
    margin-left: 1rem;
    width: calc(100% - 5rem);
  }

  .ui-search {
    letter-spacing: 0.2rem;
    font-size: 1.75rem;
    width: 140px;
  }

  .search-near {
    font-size: 1.5rem;
    padding: 0 0.75rem;
  }

  .range-icon:hover {
    cursor: pointer;
  }

  .search-range {
    top: 4rem;
  }

  .places-icon {
    padding: 1.25rem 0.75rem;
  }

  .ui-filter {
    font-size: 1.75rem;
  }

  .places {
    width: 500px;
    top: 4rem;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.3);
  }

  .places-list=section {
    height: calc(100% - 13rem);
  }

  .place-list-item:hover {
    background-color: rgba(245,245,245,0.8);
    cursor: pointer;
  }

  .placeListItemExpanded.place-list-item:hover {
    cursor: default;
  }

  .placeListItemExpanded .place-header:hover {
    cursor: pointer;
  }

  .foursquare-info-wrapper {
    flex-flow: row wrap;
  }

  .open-status {
    margin: 0;
  }

  .contact {
    min-width: auto;
  }

  .contact-text {
    margin: 0;
  }

  .place-name {
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .info-pic {
    width: 80%;
  }

  .loginWrapperExpand {
    width: 500px;
  }

  .login-input {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .login-icon {
    padding: 0 1rem;
  }

  .login-cancel-icon {
    padding-right: 0;
  }

  .login-icon:before {
    font-size: 1.85rem;
  }

  .login-cancel-icon:before {
    font-size: 1.5rem;
  }

  .mode-option:before {
    font-size: 2.5rem;
  }

  .alert-modal {
    width: 400px;
    left: calc(50% - 200px);
  }

}
/*# sourceMappingURL=../dist/css/maps/main.css.map */